/* Import de fontes: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


.event-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 30px;

    border: 2px solid rgb(197, 77, 77);
    border-radius: 5px;
    box-shadow: 2px 2px lightgrey;
}

.card__title {
    width: 150px;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
}

.card__description {
    font-size: 14px;
    text-align: center;
    font-family: Poppins;
    text-justify: auto;
    font-weight: 400;
}


/* Card conection: */
.card__conection {
    text-decoration: none;
    font-size: 18px;
    color: #B51D44;
    font-family: Poppins;
    font-weight: 600;
}

a.card__conection:hover
{
   opacity: .9;
   transition: 0.5s;
   transform: scale(0.9);
}

a.card__conection:active {
    color: darkred;
}

.card__conection--disable
{
    cursor: not-allowed;
    color: lightgray;
}