/* componente/block */
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    /* border: 1px solid black; */
}

.titulo__texto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;

    /* border: 1px solid red; */
}

.titulo__line-decoration {
    border: 2px solid red;
    width: 120px;
}

.titulo__texto--branco {
    color: white;
}

.titulo__line-decoration--branca {
    border-color: white;
}